/* Crie um arquivo HTML e CSS seguindo as orientações apresentadas na aula sobre seletores, conforme mostrado no slide.
Obs.: Por favor, coloque o link do código do seu Git para que eu possa avaliá-lo. 
Lucir Vaz - Prof.Rodrigo - turma 8
*/

h1, a {
    color: blue;
    text-align: center;
    /* text-transform: uppercase; */
}   

/* seletores agrupados */

p a {
    color: green;
    font-size: 20px;
    text-align: justify;
}   

#logo {
    color: gold;
}

/* Atributo HTML que adiciona um identificador reutilizável na tag. Esse identificar pode ser utilizado no
CSS para selecionarmos o(s) elemento(s): .classe */

.class {
    color: blue;
}
.design {
    color: red;
}
.uderline {
    text-decoration: underline;
}   

/* background ou background-color:  Muda a cor de fundo do elemento.*/
#h1-coresBackground {
    background-color: black;
}
#a-coresBackground {
    background-color:seagreen;
    color: white;
}

/* hexadecimal:  A cor é representada através de um código de 6 caracteres que vão de 0 até F. Exemplo: #000000 (preto) e #FFFFFF (branco). */
#h1-coresHexadecimal {
    background-color: #8844cc;
    color: #000000;
}
#a-coresHexadecimal {
    background-color: #84eeeb;
    color: ffffff;
}