
/* Definir as cores conforme oexemplo:
Amarelo1 (preço/botão): #febe01 
Amarelo2 (color botão): #332200 
Preto: #111 
Cinza: #b2b2b2 
Font: Arial 
Alinhar texto ao centro: text-align: center; 
Arredondar bordas: border-radius: 4px; 
*/ 


body {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif
}

div {
    border: 10px solid #b2b2b2;
    background: #b2b2b2;
    border-radius: 4px;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    color: #b2b2b2;
    display: block;
}

#caixa {
    background-color: #111;
}

#botao {
    background-color: #febe01;
    margin-block: 20px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

span {
    color: #febe01;
}
