.lista-1 li:first-child {
    background: #caf;
}
.lista-1 li:last-child {
    background: #cfa;
}
.lista-2 li:nth-child(3) {
    background: #fda;
}
.lista-2 li:nth-child(odd) {
    background: #cfa;
}
.lista-2 li:nth-child(even) {
    background: #fda;
}
